In [1]:
import pandas as pd

In [2]:
# Set paths to data
DIR_ORIGINAL = "../OriginalData/"
DIR_ANALYSIS = "../AnalysisData/"

In [3]:
## nr zadania: 1

## pew.sav - religia i przychody w USA (UWAGA! plik jest w formacie spss, dane mają formę wyników ankiet, 
## należy je przekształcić do formy zawierającej tylko religię i przychody, następnie policzyć ile osób 
## w danej kategorii finansowej deklaruje daną religię)

In [4]:
# Read original data
pew = pd.read_spss(f"{DIR_ORIGINAL}pew.sav")

# Extract only income and religion info, then sort it and save as .csv
pew = pew[['reltrad', 'income']]
pew = pew.sort_values(['reltrad', 'income'])
pew.to_csv(path_or_buf=f"{DIR_ANALYSIS}pew.csv", index=False)

# Count occurences of each pair of values (religion, income)
pew_counted = pew.value_counts(['reltrad', 'income'])
reltrad, income = zip(*(pew_counted.keys().tolist()))
counts = pew_counted.tolist()

# Make new data frame with cumulated counts, then sort it by religion and income, then save it as .csv
pew_cum = pd.DataFrame({'reltrad': reltrad, 'income': income, 'counts': counts})
pew_cum.sort_values(['reltrad'], inplace=True)

pew_cum.to_csv(path_or_buf=f"{DIR_ANALYSIS}pew_cum.csv", index=False)
print(pew_cum)

           reltrad                     income  counts
91        Buddhist        40 to under $50,000      33
110       Buddhist        10 to under $20,000      21
100       Buddhist          Less than $10,000      27
97        Buddhist        20 to under $30,000      30
90        Buddhist        30 to under $40,000      34
..             ...                        ...     ...
31    Unaffiliated      100 to under $150,000     489
14    Unaffiliated  Don't know/Refused (VOL.)     769
29    Unaffiliated        30 to under $40,000     498
37    Unaffiliated        10 to under $20,000     360
27    Unaffiliated       75 to under $100,000     602

[160 rows x 3 columns]

In [5]:
## zadanie nr 3 - zrobione dodatkowo

## tb.csv - dane o gruźlicy w różnych grupach pacjentów 
## (tabela koduje jednocześnie informacje o wieku i o płci w kolumnach i zawiera dużo pustych miejsc)

In [6]:
# Read original data
tb = pd.read_csv(f"{DIR_ORIGINAL}tb.csv")

# Rename columns and drop unused ones
new_cols = [col[-5:] for col in tb.columns.tolist()]
new_cols[0] = "country"
tb.columns = new_cols
tb.drop(columns=['ew_sp', 'sp_mu', 'sp_fu'], inplace=True)
tb.rename(inplace=True, columns={'p_m04': 'm04', '_m514': 'm514', '_m014': 'm014', 'p_m65': 'm65', 
                                 'p_f04': 'f04', '_f514': 'f514', '_f014': 'f014', 'p_f65': 'f65'})

# Melt data by sex and age, use country and year as a base; then drop rows with NaN values and sort last data by country and year
tb = pd.melt(tb, id_vars=['country', 'year'], value_vars=[x for x in tb.columns.tolist()[2:]], 
             var_name='sexAge', value_name='cases')
tb.dropna(inplace=True)
tb.sort_values(['country', 'year'], inplace=True)

# Split sex-age column into two separated columns; then rearrange columns' order
tb.sexAge = [s[0]+"-"+s[1:] for s in tb.sexAge]
tb[['sex', 'age']] = tb['sexAge'].str.split('-', expand=True)
tb = tb[['country', 'year', 'sex', 'age', 'cases']]

# Change columns' names to more transparent; then change cases' datatype from float to integer
tb.replace({'014': '0..14', '1524': '15..24', '2534': '25..34', '3544': '35..44',
            '4554': '45..54', '5564': '55..64', '65': '65+'}, inplace=True)
tb.cases = tb.cases.astype(int)

# Save final data as csv
tb.to_csv(path_or_buf=f"{DIR_ANALYSIS}tb.csv", index=False)
tb.head(14)

      country  year sex     age  cases
11544      AD  1996   m   0..14      0
17313      AD  1996   m  15..24      0
23082      AD  1996   m  25..34      0
28851      AD  1996   m  35..44      4
34620      AD  1996   m  45..54      1
40389      AD  1996   m  55..64      0
46158      AD  1996   m     65+      0
63465      AD  1996   f   0..14      0
69234      AD  1996   f  15..24      1
75003      AD  1996   f  25..34      1
80772      AD  1996   f  35..44      0
86541      AD  1996   f  45..54      0
92310      AD  1996   f  55..64      1
98079      AD  1996   f     65+      0