# Sprawozdanien z laboratorium 2
Michał Białożyt 406347

Zad 1)

In [86]:
import psycopg2 as pg
import pandas as pd
import datetime
import numpy as np

# 1
connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')
df = pd.read_sql('select * from category',con=connection)
print(f"W bazie danych jest {df.shape[0]} kategorii.")

W bazie danych jest 16 kategorii.

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [87]:
 #2
df2 = pd.read_sql('select name from category ORDER BY name ASC',con=connection)
print(f"Kategorie w kolejności alfabetycznej:\n", df2)

Kategorie w kolejności alfabetycznej:
            name
0        Action
1     Animation
2      Children
3      Classics
4        Comedy
5   Documentary
6         Drama
7        Family
8       Foreign
9         Games
10       Horror
11        Music
12          New
13       Sci-Fi
14       Sports
15       Travel

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [88]:
 #3
df3 = pd.read_sql('select title,release_year from film ORDER by release_year ASC',con=connection)

def newest_and_oldest(df):
    #znaleznienie najstarszego i najnowszego roku produkcji
    last_year = df3['release_year'].iloc[0]
    newest_year = df3['release_year'].iloc[df.shape[0]-1]

    # znaleznienie wszystkich filmow z najstarszego roku
    df31 = pd.read_sql('select title,release_year from film where release_year = last_year',con=connection)

    # znaleznienie wszystkich filmow z najnowszego roku
    df32 = pd.read_sql('select title,release_year from film where release_year = newest_year',con=connection)
    return df31,df32

#print("Najstarsze filmy",newest_and_oldest(df3)[0])
#print("Najnowsze filmy",newest_and_oldest(df3)[1])

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [89]:
#4
df4 = pd.read_sql('select rental_date from rental',con=connection)
cond = (df4.rental_date < pd.Timestamp(2005,8,1)) & (df4.rental_date > pd.Timestamp(2005,7,1))
print("Rozwiązania:\n",df4.loc[cond, ])

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Rozwiązania:
               rental_date
3466  2005-07-05 22:49:24
3467  2005-07-05 22:51:44
3468  2005-07-05 22:56:33
3469  2005-07-05 22:57:34
3470  2005-07-05 22:59:53
...                   ...
10170 2005-07-31 23:40:35
10171 2005-07-31 23:42:33
10172 2005-07-31 23:43:04
10173 2005-07-31 23:49:54
10174 2005-07-31 23:57:43

[6709 rows x 1 columns]

In [90]:
#5
df5 = pd.read_sql('select rental_date from rental',con=connection)
cond5 = (df5.rental_date < pd.Timestamp(2011,2,1)) & (df5.rental_date > pd.Timestamp(2010,1,1))
print("Rozwiązania:\n",df5.loc[cond5, ])

Rozwiązania:
 Empty DataFrame
Columns: [rental_date]
Index: []

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [91]:
#6
df6 = pd.read_sql('select amount from payment ORDER BY amount DESC',con=connection)
print("Największa płatność wyniosła:",df6['amount'].iloc[0])

Największa płatność wyniosła: 11.99

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [92]:
#7
df7 = pd.read_sql('select customer.first_name, customer.last_name, country.country from customer INNER JOIN (address INNER JOIN(city INNER JOIN country on country.country_id = city.country_id) on address.city_id = city.city_id) on address.address_id =  customer.address_id',con=connection)
df7p = df7[df7["country"].str.contains('Poland')]
df7b = df7[df7["country"].str.contains('Niger')]
df7n = df7[df7["country"].str.contains('Bangladesh')]
wyn = pd.concat([df7p,df7b,df7n])
print(f"Z Polski, Nigerii i Bangladeszu są {wyn.shape[0]} osoby.\n")
print(wyn)

Z Polski, Nigerii i Bangladeszu są 24 osoby.

    first_name  last_name     country
97       Brian      Wyman      Poland
133     Sidney   Burleson      Poland
236   Marjorie     Tucker      Poland
255       Leah     Curtis      Poland
313      Ruben      Geary      Poland
408    Johnnie   Chisholm      Poland
548    Russell    Brinson      Poland
575     Jimmie  Eggleston      Poland
69       Sonia    Gregory     Nigeria
141     Rodney    Moeller     Nigeria
152      Velma      Lucas     Nigeria
217    Marilyn       Ross     Nigeria
218      Elsie     Kelley     Nigeria
220     Gladys   Hamilton     Nigeria
252      Carol     Garcia     Nigeria
373       Olga    Jimenez     Nigeria
380     Bertha   Ferguson     Nigeria
388     Tracey    Barrett     Nigeria
389         Jo     Fowler     Nigeria
487    Wallace      Slone     Nigeria
594  Constance       Reid     Nigeria
143    Stephen     Qualls  Bangladesh
234      Frank   Waggoner  Bangladesh
524   Michelle      Clark  Bangladesh

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [93]:
#8
df8 = pd.read_sql('select staff. first_name, staff.last_name, address.address, city.city from staff INNER JOIN (address INNER JOIN city on city.city_id = address.city_id) on staff.address_id = address.address_id',con=connection)
print(df8)

  first_name last_name               address        city
0       Mike   Hillyer     23 Workhaven Lane  Lethbridge
1        Jon  Stephens  1411 Lillydale Drive   Woodridge

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [99]:
#9
df9 = pd.read_sql('select staff.first_name, staff.last_name, country.country from staff\
    INNER JOIN (address\
    INNER JOIN (city\
    INNER JOIN country\
    on country.country_id = city.country_id)\
    on city.city_id = address.city_id)\
    on staff.address_id = address.address_id',con=connection)
df91 = df9[df9["country"].str.contains("Spain")]
df92 = df9[df9["country"].str.contains("Argentina")]
print(pd.concat([df91,df92]))
#brak wyników lecz algorytm poprawny

Empty DataFrame
Columns: [first_name, last_name, country]
Index: []

In [95]:
#10
df10 = pd.read_sql('select customer.first_name, customer.last_name, category.name from category\
    INNER JOIN (film_category\
    INNER JOIN (film\
    INNER JOIN (inventory\
    INNER JOIN (rental\
    INNER JOIN customer\
    on customer.customer_id = rental.customer_id)\
    on inventory.inventory_id = rental.inventory_id)\
    on film.film_id = inventory.film_id)\
    on film.film_id = film_category.film_id)\
    on film_category.category_id = category.category_id',con=connection)
print(df10)
#nie jestem pewien czy dobrze rozumiem polecenie, wypisałem wszystkich klientow i gatunki książek, które wypożyczyli
#jeśli chodzi wymienienie samych kategorii to dodać trzeba instrukcję
#df10 = df10.drop_duplicates("name")
#oraz ewentualnie
#del df10["first_name"]
#del df10["last_name"]
#aby każda kategoria wypożyczona pojawiała się tylko raz oraz aby nie wyświetlać imion i nazwisk osób

      first_name    last_name      name
0          Tommy      Collazo     Music
1         Manuel      Murrell  Children
2         Andrew        Purdy    Horror
3        Delores       Hansen  Children
4         Nelson  Christenson    Comedy
...          ...          ...       ...
16039     Denise        Kelly  Classics
16040      Grace        Ellis   Foreign
16041     Gladys     Hamilton     Drama
16042     Philip       Causey     Drama
16043  Charlotte       Hunter    Family

[16044 rows x 3 columns]

In [96]:
#11
df11 = pd.read_sql('SELECT category.name, country.country\
    from category\
    INNER JOIN (film_category\
    INNER JOIN (film\
    INNER JOIN (inventory\
    INNER JOIN (rental\
    INNER JOIN (customer\
    INNER JOIN (address\
    INNER JOIN (city\
    INNER JOIN country\
    on country.country_id = city.country_id)\
    on city.city_id = address.city_id)\
    on address.address_id = customer.address_id)\
    on customer.customer_id = rental.customer_id)\
    on inventory.inventory_id = rental.inventory_id)\
    on film.film_id = inventory.film_id)\
    on film.film_id = film_category.film_id)\
    on film_category.category_id = category.category_id',con=connection)
df11 = df11[df11["country"].str.contains("United States")]
df11 = df11.drop_duplicates("name")
del df11["country"]
# warunek na same wypożycznia z USA oraz usunięcie powtarzanych kategorii musiałem zrobić poza read_sql(), inaczej nie chciało działać:(
print(df11)

            name
5         Horror
52      Classics
55        Comedy
67       Foreign
93        Sci-Fi
96     Animation
149        Games
169        Drama
240        Music
243       Sports
276  Documentary
492          New
522       Action
574       Family
744       Travel
787     Children

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [97]:
df12 = pd.read_sql('SELECT film.title, actor.first_name, actor.last_name\
    from actor\
    INNER JOIN (film_actor\
    INNER JOIN film\
    on film_actor.film_id = film.film_id)\
    on film_actor.actor_id = actor.actor_id',con = connection) 
akt1 = df12[df12["first_name"].str.contains('Olympia') & df12["last_name"].str.contains('Pfeiffer')]
akt2 = df12[df12["first_name"].str.contains('Julia') & df12["last_name"].str.contains('Zellweger')]
akt3 = df12[df12["first_name"].str.contains('Ellen') & df12["last_name"].str.contains('Presley')]
df12 = pd.concat([akt1,akt2,akt3])
print(df12)

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                     title first_name last_name
4658           Badman Dawn    Olympia  Pfeiffer
4659           Chitty Lock    Olympia  Pfeiffer
4660    Color Philadelphia    Olympia  Pfeiffer
4661     Contact Anonymous    Olympia  Pfeiffer
4662          Deep Crusade    Olympia  Pfeiffer
...                    ...        ...       ...
2490  Streetcar Intentions      Ellen   Presley
2491          Tadpole Park      Ellen   Presley
2492      Treasure Command      Ellen   Presley
2493             Turn Star      Ellen   Presley
2494          Women Dorado      Ellen   Presley

[69 rows x 3 columns]