# Sprawozdanien z laboratorium 2
Michał Białożyt 406347

Zad 1)

In [2]:
import psycopg2 as pg
import pandas as pd
import datetime
import numpy as np

# 1
connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')
df = pd.read_sql('select * from category',con=connection)
print(f"W bazie danych jest {df.shape[0]} kategorii.")

W bazie danych jest 16 kategorii.

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [87]:
 #2
df2 = pd.read_sql('select name from category ORDER BY name ASC',con=connection)
print(f"Kategorie w kolejności alfabetycznej:\n", df2)

Kategorie w kolejności alfabetycznej:
            name
0        Action
1     Animation
2      Children
3      Classics
4        Comedy
5   Documentary
6         Drama
7        Family
8       Foreign
9         Games
10       Horror
11        Music
12          New
13       Sci-Fi
14       Sports
15       Travel

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [3]:
 #3
#first
df31 = pd.read_sql('select title,release_year from film ORDER by release_year ASC LIMIT 1',con=connection)
#last
df32 = pd.read_sql('select title,release_year from film ORDER by release_year DESC LIMIT 1',con=connection)

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [5]:
#4
df4 = pd.read_sql('''select rental_date from rental WHERE rental_date BETWEEN '2005-07-01' AND '2005-08-01' ''',con=connection)

print("Rozwiązania:\n",df4)

Rozwiązania:
              rental_date
0    2005-07-05 22:49:24
1    2005-07-05 22:51:44
2    2005-07-05 22:56:33
3    2005-07-05 22:57:34
4    2005-07-05 22:59:53
...                  ...
6704 2005-07-31 23:40:35
6705 2005-07-31 23:42:33
6706 2005-07-31 23:43:04
6707 2005-07-31 23:49:54
6708 2005-07-31 23:57:43

[6709 rows x 1 columns]

In [6]:
#5
df5 = pd.read_sql('''select rental_date from rental WHERE rental_date BETWEEN '2010-01-01' AND '2011-02-01' ''',con=connection)

print("Rozwiązania:\n",df5)

Rozwiązania:
 Empty DataFrame
Columns: [rental_date]
Index: []

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [7]:
#6
df6 = pd.read_sql('select amount from payment ORDER BY amount DESC LIMIT 1',con=connection)
print("Największa płatność wyniosła:",df6)

Największa płatność wyniosła:    amount
0   11.99

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [9]:
#7
df7 = pd.read_sql('''select customer.first_name, customer.last_name, country.country from customer INNER JOIN (address INNER JOIN(city INNER JOIN country on country.country_id = city.country_id) on address.city_id = city.city_id) on address.address_id =  customer.address_id
                    WHERE country.country = 'Poland' or country.country = 'Nigeria' or country.country = 'Bangladesh' ORDER BY country.country''',con=connection)

print(df7)

   first_name  last_name     country
0    Michelle      Clark  Bangladesh
1     Stephen     Qualls  Bangladesh
2       Frank   Waggoner  Bangladesh
3     Marilyn       Ross     Nigeria
4       Elsie     Kelley     Nigeria
5      Gladys   Hamilton     Nigeria
6       Sonia    Gregory     Nigeria
7      Rodney    Moeller     Nigeria
8       Velma      Lucas     Nigeria
9       Carol     Garcia     Nigeria
10       Olga    Jimenez     Nigeria
11     Bertha   Ferguson     Nigeria
12     Tracey    Barrett     Nigeria
13         Jo     Fowler     Nigeria
14    Wallace      Slone     Nigeria
15  Constance       Reid     Nigeria
16      Brian      Wyman      Poland
17     Sidney   Burleson      Poland
18   Marjorie     Tucker      Poland
19    Russell    Brinson      Poland
20       Leah     Curtis      Poland
21      Ruben      Geary      Poland
22    Johnnie   Chisholm      Poland
23     Jimmie  Eggleston      Poland

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [93]:
#8
df8 = pd.read_sql('select staff. first_name, staff.last_name, address.address, city.city from staff INNER JOIN (address INNER JOIN city on city.city_id = address.city_id) on staff.address_id = address.address_id',con=connection)
print(df8)

  first_name last_name               address        city
0       Mike   Hillyer     23 Workhaven Lane  Lethbridge
1        Jon  Stephens  1411 Lillydale Drive   Woodridge

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [10]:
#9
df9 = pd.read_sql('''select staff.first_name, staff.last_name, country.country from staff\
    INNER JOIN (address\
    INNER JOIN (city\
    INNER JOIN country\
    on country.country_id = city.country_id)\
    on city.city_id = address.city_id)\
    on staff.address_id = address.address_id
    WHERE country.country =  'Spain' or country.country =  'Argentina' ''',con=connection)
print(df9)

Empty DataFrame
Columns: [first_name, last_name, country]
Index: []

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [26]:
#10
df10 = pd.read_sql('''select DISTINCT category.name from category
    INNER JOIN (film_category
    INNER JOIN (film
    INNER JOIN (inventory
    INNER JOIN rental
    on inventory.inventory_id = rental.inventory_id)
    on film.film_id = inventory.film_id)
    on film.film_id = film_category.film_id)
    on film_category.category_id = category.category_id
    WHERE inventory.inventory_id = rental.inventory_id''',con=connection)
print(df10)

           name
0        Sports
1      Classics
2           New
3        Family
4        Comedy
5     Animation
6        Travel
7         Music
8         Drama
9        Horror
10       Sci-Fi
11        Games
12  Documentary
13      Foreign
14       Action
15     Children

In [19]:
#11
df11 = pd.read_sql('''SELECT DISTINCT category.name\
    from category
    INNER JOIN (film_category
    INNER JOIN (film
    INNER JOIN (inventory
    INNER JOIN (rental
    INNER JOIN (customer
    INNER JOIN (address
    INNER JOIN (city
    INNER JOIN country
    on country.country_id = city.country_id)
    on city.city_id = address.city_id)
    on address.address_id = customer.address_id)
    on customer.customer_id = rental.customer_id)
    on inventory.inventory_id = rental.inventory_id)
    on film.film_id = inventory.film_id)
    on film.film_id = film_category.film_id)
    on film_category.category_id = category.category_id
    WHERE country.country = 'United States' ''',con=connection)
print(df11)

           name
0        Sports
1      Classics
2           New
3        Family
4        Comedy
5     Animation
6        Travel
7         Music
8         Drama
9        Horror
10       Sci-Fi
11        Games
12  Documentary
13      Foreign
14       Action
15     Children

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [21]:
df12 = pd.read_sql('''SELECT film.title, actor.first_name, actor.last_name\
    from actor\
    INNER JOIN (film_actor\
    INNER JOIN film\
    on film_actor.film_id = film.film_id)\
    on film_actor.actor_id = actor.actor_id
    WHERE actor.first_name = 'Olympia' AND actor.last_name = 'Pfeiffer' OR 
    actor.first_name = 'Julia' AND actor.last_name = 'Zellweger' OR 
    actor.first_name = 'Ellen' AND actor.last_name = 'Presley' ''',con = connection) 
print(df12)

                title first_name  last_name
0     Bilko Anonymous      Ellen    Presley
1   Caribbean Liberty      Ellen    Presley
2    Casper Dragonfly      Ellen    Presley
3    Empire Malkovich      Ellen    Presley
4       Floats Garden      Ellen    Presley
..                ...        ...        ...
64       Outlaw Hanky      Julia  Zellweger
65    Panky Submarine      Julia  Zellweger
66   Rider Caddyshack      Julia  Zellweger
67          Won Dares      Julia  Zellweger
68      Wyoming Storm      Julia  Zellweger

[69 rows x 3 columns]

C:\Users\User\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(